
	<div id="login-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 style="display: inline-block;">Log In</h3>
					<p style="float: right; display: inline-block; margin-top: 25px;">New Here? <a href="#" data-toggle="modal" data-target="#register-modal" data-dismiss="modal">Click Here</a></p>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label class="sr-only" for="login-modal-email">Email: </label>
							<input class="form-control" id="loginModalEmail" name="loginModalEmail" type="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label class="sr-only" for="login-modal-pass">Password: </label>
							<input class="form-control" id="loginModalPass" name="loginModalPass" type="password" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-primary" onclick="user.login(event,this.form)">Log In</button>
					</form>
					<a class="btn btn-social btn-github" onclick="user.loginSpecial(event,'github');">
						<span class="fa fa-github"></span>Login with Github
					</a>
					<!-- <button class="btn btn-primary">Login with Github</button> -->
					<!-- <button class="btn btn-primary">Login with Github</button> -->
				</div>
				<div class="modal-footer">
					<a href="#">Forgot your Password?</a>
				</div>
			</div>
		</div>
	</div>